.eventCreatePage {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
}

.eventCreateForm {
    margin-top: .5rem;
    padding: 1.2rem;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 8px #888888;
    max-width: 100vw;
}

.eventCreateForm div {
    margin: 5px;
}

.accessiblitySelect  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accessiblitySelect .selectComponent {
    margin:.1rem;
}

.ImageField {
    width: 50%;
}

.cropContainer {
    max-width: 100%;
}

@media only screen and (min-width: 700px) {
    .eventCreateForm {
        width: 80vw;
        margin-left: 20vw; 
        margin-right: 20vw; 
    }
  }

