

/* removes default margin from top of page */
body {    
    margin: 0 !important;
    padding: 0 !important;
}

:root {
    --bright-pink: rgb(243, 131, 154);
    --off-white: rgb(238,238,238);
    --black: rgb(53,53,53);
    --active-blue: rgb(145,203,234);
}


/*****Layout and nav bar*****/

.navLink {
    text-decoration: none;
    color: var(--black);
    transition: 200ms;
}

  .navLink:hover {
    width: 100%;
    color: var(--off-white)
  }

  .activeNavLink {
      color: var(--off-white);
      font-weight: bolder;
      text-decoration: underline;
  }