

/* removes default margin from top of page */
body {    
    margin: 0 !important;
    padding: 0 !important;
}

:root {
    --bright-pink: rgb(243, 131, 154);
    --off-white: rgb(238,238,238);
    --black: rgb(53,53,53);
    --active-blue: rgb(145,203,234);
}


/*****Layout and nav bar*****/
.ActivePage {
    height: 85vh;
  }

.header {
    padding-left: 10px;
    margin: 0;
    font-size: 1.5rem;
}

.navBar {
    top: 0;
    background-color: var(--bright-pink);
    margin: 0;
    padding: 5px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navLinkList {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

.navLink {
    text-decoration: none;
    color: var(--black);
    transition: 200ms;
}

  .activeNavLink {
      border: 1px dashed var(--off-white);
      font-weight: bolder;
  }

 

  .navAuth {
      align-self: flex-end;
  }