
   
/************GENERAL LAYOUT ************/
    .calendarPage {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .calendarComponent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .calendarDetails {
        margin-left: 10px;
        overflow-y: scroll;
        width: 50%;
    }





/*********Calendar Header********/
.calenderHeader {
    text-align: center;
    width: 100%;
}
    .calendarPicker {
        display: flex;
        justify-content: space-around;
        font-weight: bolder;
        color:var(--bright-pink);
        font-size: 1.5rem;
    }

    .dayNameRow {
        display: flex;
        justify-content: space-around;
    }

    .dayName {
        width: calc(100% / 7);
    }

    .dateSquareGrid {
        width: 100%;
        height: 100%;
    }

    .dateSquareRow {
        display: flex;
        justify-content: space-around;
        min-height: calc(100%/5);
        width: 100%;
    }

    .dateSquare {
        width: calc(100% / 7);
        border: 1px solid var(--black);
        padding: 5px;
        background-color: var(--off-white);
       
    }

    .activeDateSquare {
        background-color: var(--active-blue);
    }

    .eventList {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .eventItem {
        border-radius: 5px;
        border: 1px solid black;
        overflow-y: visible;
        background-color: var(--bright-pink);
        margin-top: 5px;
        padding: 5px; 
    }
    .eventItem.attending {
        background-color: hsl(44, 100%, 58%)
    }

    .eventName {
        font-weight: bolder;
        font-size: .8rem;
    }

    .eventList .showMore {
        width: 100%;
        font-size: .8em;
    }

    
    .eventItemDetail {

        border-radius: 5px;
        margin: 10px;
        padding: 10px;

        background-color: var(--active-blue);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .eventItemDetail .eventTitle {
        text-align: center;
    }

    .eventItemDetail .eventItemDetailBtns {
        display: flex;
        flex-direction: column;
    }


    /**************Mobile Media Queries**************/

    @media only screen and (max-width: 700px) {
        .calendarPage {
          flex-direction: column;
        }

        .calendarComponent {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    
        .calendarDetails {
            margin-left: 10px;
            margin-top: 10vmax;
            overflow-y: visible;
            width: 100%;
        }
      }
    