/********General Styling*********/

.eventShowPage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    padding-bottom: 30px;
    
}

.eventData{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.eventTitleCard {
    margin: 5vmax;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 8px #888888;
    min-height: 50vh;
    width: 50vw;
}

.eventTitleCard .eventTitleText {
    margin: 10px;
}
.eventTitleCard h2 {
    font-size: 1.5rem
}
/* .eventShowImage {
    width: 100%;
    height: 100%;
} */


.eventShowPage .generalInfo {
    margin: 5vmax; 
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 8px #888888;
    padding: 20px;
    max-height: 80vh;
    width: 50vw;
    overflow-y: scroll;
    font-size: 1rem;
}

.eventShowPage .eventDescription {
    white-space: pre-wrap;
    width: 100%;
    
}
    /***********ATTENDEES_PANEL**********/

    .eventAttendees {
        padding: 5%;
    }
    /************* Comment Feed *****************/

    .commentFeed {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        background-color: whitesmoke;
        padding: 25px;
        margin-bottom: 30px;
        border-radius: 15px;
        box-shadow: 10px 10px 8px #888888;
    }

    .comment.commentItem {
        background-color: whitesmoke;

    }


   /**************Mobile Media Queries**************/

   @media only screen and (max-width: 700px) {
    .eventData {
        flex-direction: column;
    }
    .eventTitleCard {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 15px
    }

    .eventShowPage .generalInfo {
        width: 100%;
        height: 100%;
        overflow-y: visible;
        margin-left: 0;
    }
  }


